
h1{
    color: white;
    a{
        text-decoration: none;
        color:white;

    }
}

.header{
    background-image: url("../images/desktop/image-header.jpg");
    background-color: #cccccc;
    height: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    display: flex;
    justify-content: space-between;    

    a{
      text-decoration: none;
      color: white;
    }
}

.logo{
    margin-top:32px;
    margin-left: 32px;
    font-size: 40px;
}

.navbar{

    margin: 32px 32px 0 0;
    font-size: 28px;

    display: flex;  
    a{
        padding : 0 10px 0;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
            font-weight: 700;
        }
    }


}